
*{
    box-sizing: border-box;
}
.qcard{
    width:800px;
    height:520px;
    margin:auto;
    margin-top:5rem;
    padding:20px;
    background-color:rgb(231,111,81); 
    border : 1px solid black;
    border-radius: 25px;  
}
.buttonsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 30px;
    margin-top:1.1rem;
    
}
.linkbutton {
    border:2px solid #013a19;
    width:120px;
    height: 50px;
    border-radius: 5px;
    margin:auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    outline:none;
    margin-top: 2rem ;
    margin-bottom:2rem;
    padding:12px;
    
}
.linkbutton:hover{
    background-color: #aaa;
    cursor: pointer;
}
.linkbutton a{
    text-decoration: none;
    color: black;

}
@media (max-width:850px){
    .qcard{
        
        width:600px;
        height:550px;
    }
    .buttonsection{
        margin-top:2.3rem;
    }
}
@media (max-width:600px){
    .qcard{
        width:325px;
        height:670px;
        margin-bottom: 1rem;   
    }
    .buttonsection{
        margin-top:1.5rem;
    }
}