
*{
    box-sizing: border-box;
}
.qcard{
    width:800px;
    height:500px;
    margin:auto;
    margin-top:10rem;
    padding:20px;
    border : 1px solid black;
    border-radius: 25px;  
}
.buttonsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 30px;
    margin-top:1.1rem;
    
}
@media (max-width:850px){
    .qcard{
        
        width:600px;
        height:550px;
    }
    .buttonsection{
        margin-top:2.3rem;
    }
}
@media (max-width:600px){
    .qcard{
        width:325px;
        height:670px;
        margin-bottom: 1rem;   
    }
    .buttonsection{
        margin-top:1.5rem;
    }
}