
.Question{
    width:100%;
    height:100px;
    padding:15px 16px;
    text-align: start;
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
}

@media (max-width:850px){
    .Question{
        margin-bottom: 2rem;
    }
}
@media (max-width:600px){
    .Question{
        margin-bottom: 7.5rem;
    }
}