
.qsection{
    display: grid;
    grid-template-columns: 30px auto;
    padding-left:20px;
    padding-top:20px;    
}
.qno{
    padding-top:15px;
    margin:0;
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
}
.buttonsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 30px;
    margin-top:1.1rem;
    
}
.optsection{
    margin-bottom:1.5rem;
}
@media (max-width:850px){
    .buttonsection{
        margin-top:2.3rem;
    }
}
@media (max-width:600px){
    .buttonsection{
        margin-top:1.5rem;
    }
    .qsection{
       
        padding-left:8px;
         
    }
}